label {
  font-weight: bold;
  font-size: .8rem;
}

#inputNome, #inputEmail, #inputCpf, #inputTelefone, #inputRua, #inputNumero, #inputBairro, #inputCidade, #inputEstado, #inputSenha, #inputConfirma{
  border: solid 1px lightgray;
}

#agreement {
  margin-right: 5px;
}

#agreement, #agreement-label {
  display: inline-block;
  width: auto;
}

.error-validation {
  color: #ff1a1a;
  position: absolute;
  top: 57px;
  font-size: 12px;
  margin-top: 25px
}

.template {
  display: none;
}

.paddingInputs{
  padding: 10px;
}