* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menuItem{
    font-family: 'Bebas Neue', cursive;;
    font-size: 40px;
    color: rgb(0, 0, 114) !important;
    margin-left: 40px;
    transition: 0.3s;
}

.menuItem :hover{
    color: rgb(71, 163, 255);
}

.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

body{
    background-image: url(bg.png);
}

li > a {
    color: rgb(0, 0, 114);
}

.footer{
    text-align: center;
    font-size: 0.6rem;
    text-decoration: none;
}
label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h2 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }
 /*Configurando formulário Cadastro*/
.contain-cadastro {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {    
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.9970.3); /*Sombreado 3d formulário*/
    display: flex;
    background-color: #f9f9f9;
    padding: 0.5rem;
    margin-top: 5px;
}
.card h2 {
    color: #000;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: .9rem;
    background-color: #f9f9f9;
}
.card h2::after {
    content: '';
    display: block;
    width: 20rem;
    height: 0.3rem;
    background-color: #bc4c00;
    margin: auto;
    position: left;
    border-radius: 10px;
}
.form-check  {
    padding: 10px;
    margin-top: .2rem; 
    margin-bottom: .6rem;
    position: relative;
    display: inline-block; 
    margin-left: auto; 
    margin-left: auto; 
}
.pessoaFisica {
    display:inline-block; 
     
}
.pessoaJuridica {
    display:inline-block; 
    margin-right: 20;    
}
.form-control {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 5px;
}
.form-group  {
    text-align: left;  
    margin-left: 0.4rem;
    font-size: 90%;
    padding: 0,1rem;
    
}
#inputGroup {
    margin-top: 10px;
    font-weight:bold;
}
#inputGroup input {
    text-align: left;  
    margin-left: 0.4rem;
    font-size: 95%;
    padding: 0,1rem;
   
}
.form label {    
    text-align: left;
}
.agree {
    display: inline-block;
    margin-left: 35%;
    align-items: center;
    justify-content: center;
    margin-top: 10px ;
    font-weight: 100;
    font-size: 88%;
}
.agree label {
    margin-left: 25px;
}
.footerForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .6rem;
}
#btnCadastrar #btnCancelar {
    display: flex;
    border:1px solid #b1337a ; /*não funcionou*/
    background-color: #b1337a;
    text-transform: uppercase;
    padding: 10px, 10px;
}
form, #alertCadastro {
    margin-bottom: 0;
    margin-top: 6px
}

/*Final estilo formulário Cadastro*/