
.menuItem{
    font-family: 'Bebas Neue', cursive;;
    font-size: 30px;
    color: rgb(0, 0, 114) !important;
    margin-left: 40px;
    transition: 0.3s;
}

.menuItem :hover{
    color: rgb(71, 163, 255);
}

.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

body{
    background-image: url(bg.png);
}

li > a {
    color: rgb(0, 0, 114);
}

footer{
    display: block;
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(0, 0, 114);
}

.card > .card-header {
    background-color: rgb(30, 119, 209);
    color: white;
}

.card > ::-webkit-scrollbar{
    background-color: transparent;
    color: white;
}

.container-fluid > .card-header {
    background-color: rgb(0, 0, 114);
    color: white;
}

h3{
    text-align: center;
}

/*Configurando formulário Cadastro*/
.contain-cadastro {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {    
    box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.9970.3); /*Sombreado 3d formulário*/
    display: flex;
    background-color: #f9f9f9;
    padding: 0.5rem;
    margin-top: 5px;
    height: 100%;
}
.card h2 {
    color: #000;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: .9rem;
    background-color: #f9f9f9;
}
.card h2::after {
    content: '';
    display: block;
    width: 20rem;
    height: 0.3rem;
    background-color: #bc4c00;
    margin: auto;
    position: left;
    border-radius: 10px;
}
.form-check  {
    padding: 10px;
    margin-top: .2rem; 
    margin-bottom: .6rem;
    position: relative;
    display: inline-block; 
    margin-left: auto; 
    margin-left: auto; 
}
.pessoaFisica {
    display:inline-block; 
     
}
.pessoaJuridica {
    display:inline-block; 
    margin-right: 20;    
}
.form-control {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 5px;
}
.form-group  {
    text-align: left;  
    margin-left: 0.4rem;
    font-size: 90%;
    padding: 0,1rem;
    
}
#inputGroup {
    margin-top: 10px;
    font-weight:bold;
}
#inputGroup input {
    text-align: left;  
    margin-left: 0.4rem;
    font-size: 95%;
    padding: 0,1rem;
   
}
.form label {    
    text-align: left;
}
.agree {
    display: inline-block;
    margin-left: 35%;
    align-items: center;
    justify-content: center;
    margin-top: 10px ;
    font-weight: 100;
    font-size: 88%;
}
.agree label {
    margin-left: 25px;
}
.footerForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .6rem;
}
#btnCadastrar #btnCancelar {
    display: flex;
    border:1px solid #b1337a ; /*não funcionou*/
    background-color: #b1337a;
    text-transform: uppercase;
    padding: 10px, 10px;
}
form, #alertCadastro {
    margin-bottom: 0;
    margin-top: 6px
}

/*Final estilo formulário Cadastro*/

/*Modal adote*/

/*botao Adote*/

.botoes{
   display: flex;
   align-items: center;


}

/* Footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #415aca;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}


