*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login{
    display: flex;
    justify-content: space-around;
    padding: 55px;
}

.form-box{
    text-align: center;
}
.card{
    align-items: center;
    width: 40%;
    height: 100%;
}

.card .form-box{
    width: 75%;
}

.card .form-box .ul{
display: flex;
justify-content: center;
}

.card .form-box .ul li{
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.card .form-box .ul li:hover{
    background: #ecf2f7;
}

.form-box .ul li img{
    width: 40px;
}

.card .form-box h2{
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
}

.card .form-box .input-box{
    margin-bottom: 10px;
}

.form-box .input-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 15px;
    background-color: #ecf2f7;
    border-radius: 3px;
}

.input-box input[type="submit"]{
    cursor: pointer;
    background: #85b6ff;
    font-weight: 385;
}

.card .form-box .input-box input::placeholder {
    text-align: center;
}

.container-login .card .form-box h2::after{
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #1b1a19;
    margin: auto;
    position: left;
    border-radius: 10px;
}