*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#LoginScreen{
    width: 350px;
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.card .card-body h3{
    text-align: center;
}

.card .card-body h3::after{
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    background-color: #1b1a19;
    margin: auto;
    position: left;
    border-radius: 10px;
}

.card .card-body .form-group input::placeholder{
    text-align: center;
}